.modal-backdrop{
 	z-index: 90000001;
}
 
.modal{
	z-index: 90000002;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 90000000;
}

#nevereatLogo{
	width: 124px;
	height: 34px;
	position: absolute;
	vertical-align: middle;
	background-color: white;
    border-radius: 5px;
}

.container-fluid{
	margin: 0px;
	padding: 0px;
}

#errorIni, #errorReg, #errorCont{
	color: red;
}

.navbar-header{
	vertical-align: middle;
}

.navbar-brand{
	margin-top: -7px;
	margin-left: 15px !important;
	padding-left: 0px; 
}

#botonCerrarSesion{
	float: right;
	color: white;
	background-color: #33428F;
	border: none;
	text-align: center;
	vertical-align: middle;
	margin-top: 2px;
}

#botonCerrarSesion:hover{
	text-decoration: underline;
}

#navHeader ul{
	margin-left: 154px;
	border: none;
}

#navHeader ul li a{
	color: white;
}

#navHeaderSearch{
	margin-top: 8px;
}

.nav{
	margin-right: 0px;
}

.navbar{
	border-radius: 0px;
	background-color: #33428F;
	margin: 0px;
	border: none;
}

#inicioSesion, #registro{
	color: white;
}

#inicioSesion:hover, #registro:hover{
	text-decoration: underline;
}

#inicioIcono, #registroIcono, #cerrarSesionIcono{
	margin-right: 6px;
}

#msgBienvenida{
	color: white;
	margin-top: 20px;
}

#sombraBanner{
	background-color: rgba(255, 255, 255, 0.4);
	width: 100%;
	height: 100%;
	position: absolute;
}

#textoBanner{
	padding-top: 200px;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	font-weight: bold;
	color: #33428F;
	opacity: initial;
}

#textoBanner h2{
	font-size: 100px;
}

#banner{
	background: url("banner.jpg") no-repeat 0px 0px;
	background-size: cover;
	min-height: 640px;
	position: relative;
}

#menuNav{
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
}

#menuNav h2{
	color: white;
}

.nav li a{
	color: white;
}

.nav li a:hover{
	color: #33428F;
}

.active a{
	color: #33428F !important;
}

#cajaBusqueda{
	float: right;
}


/*------------(CSS LOGO TAW)------------*/

.tawlogo { 
font-family: arial, sans-serif; 
border: 1px solid #555; 
vertical-align: 0.3em;
font-weight: bold;
color: #fff;
font-size: 0.9em; 
background-color: #555;
padding: 0;
}

.tawlogo .tnivel {
padding: 0 0.4em ;
border-bottom: 0px;
background-color: #555;
color: #fff;
font-size: 0.8em;
}

.tawlogo abbr {
border-bottom: 0px;
}

.tawlogo acronym{
border-bottom: 0px;
padding: 0 0.3em;
background-color: #fff;
color: #000;	
}

.tawlogo sup{
padding: 0em;
vertical-align: 0.6em;
font-size: 0.6em;
}

/*------------(CSS LOGO TAW)------------*/

.modal-header h2 {
	font-size: 18px;
}

@media (max-width: 767px){
 	#nevereatLogo{
 		margin-left: 10px;
 	}
 
 	#botonHamburguesa{
 		margin-right: 25px;
 	}
 
 	.navbar-right{
 		margin-left: 10px;
 	}
 
 	#navHeader ul{
 		margin-left: 15px;
 	}
} 

#footer{
	border-radius: 0px;
	background-color: #33428F;
	margin: 0px;
	border: none;
	height: 50px;
}

#footerBoton{
	float: right;
	color: white;
	background-color: #33428F;
	border: none;
	text-align: center;
	vertical-align: middle;
	margin-top: 3px;
}

#footerBoton:hover{
	text-decoration: underline;
}